
img.product-image {
    object-fit: cover;
    object-position: center;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    width: 100%;
}

.card-body > a {
    text-decoration: none;
    color: inherit;
}

.card-body > a:hover {
    text-decoration: underline;
    color: inherit;
}

#welcome {
    margin-top: 4rem;
}

#terms,
#product {
    margin-top: 3rem;
}

.blog-post-title {
    padding-top: 1rem;
}

.table-col-count {
    text-align: right;
    width: 20%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}